
.container {
    width: 300px;
    height: 400px;
    margin: 80px 0 0 0;
    position: relative;
    text-align: center;
    /*cursor: pointer;*/
    perspective: 100rem;
    /*display: inline-block;*/
    float: left;
    clear: both;

}

.card {
    /*webkit을 사용해야지 사파리에서도 정상적으로 동작함*/
    width: 300px;
    height: 400px;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-perspective: 0;
    -webkit-transition: 1s;
    backface-visibility: hidden; /*뒷면 숨기기*/
    visibility: visible;
    transition: 1s;
    /*display: inline-block;*/
    float: left;
    margin-right: 20px;
    margin-left: 30px;
    margin-bottom: 80px;
}

.front {
    position: absolute;
    background: white;
    transform: rotateY(0deg);
}

.back {
    background-image: linear-gradient(to top, #FFF56E 0%,
    #F4A460 99%,
    #F4A460 100%);
    transform: rotateY(-180deg);
}

.container:hover .front {
    transform: rotateY(180deg); /*y축을 기준으로 180도까지회전*/
}

.container:hover .back {
    transform: rotateY(0deg); /*y축을 기준으로 0도 까지회전*/
}

.delete {
    float: right;
    background-color: lightcoral;
    border: 1px gray;
    outline: 1px gray;
    cursor: pointer;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;

  /* 숨기기 */
  z-index: -1;
  opacity: 0;
}

.show {
  opacity: 1;
  z-index: 1000;
  transition: all .5s;
}

.window {
  position: relative;
  width: 100%;
  height: 100%;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);

  /* 임시 지정 */
  width: 100px;
  height: 100px;

  /* 초기에 약간 아래에 배치 */
  transform: translate(-50%, -40%);
}

.show .popup {
  transform: translate(-50%, -50%);
  transition: all .5s;
}
/*카드내용*/

.main_body *,
.main_body *::after,
.main_body *::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}



.card__title {
    height: 9rem;
    padding: 4rem 2rem 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.card__title--1 .fas {
    font-size: 5rem;
    padding-left: 50px;
}


.card__heading {
    font-size: 4rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    padding-left: 40px;
    color: #fff;
    width: 75%;
}

.card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.card__details {
    padding: 0 2rem 2rem;
}

.card__details ul {
    list-style: none;
    width: 80%;
    margin: 0 auto;
}

.card__details ul li {
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
}

.card__details ul li:not(:last-child) {
    border-bottom: 1px solid #eee;
}

.card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
}

.card__price-box {
    text-align: center;
    color: #fff;
    margin-bottom: 8rem;
}

.card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase;
}

.card__price-value {
    font-size: 6rem;
    font-weight: 100;
}

.row {
    float: left;
}

.row:not(:last-child) {
    margin-bottom: 5rem;
    margin-top: 5rem;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.row [class^="col-"] {
}

.row [class^="col-"]:not(:last-child) {
    margin-right: 6rem;
}

/*.row .col-1-of-3 {*/
/*    width: calc((100% - 2 * 6rem) / 3);*/
/*}*/

