/*스크롤바 숨기기*/
body{
 -ms-overflow-style: none;
 }
::-webkit-scrollbar {
  display: none;
}

/*카드 전체*/
.container {
    width: 300px;
    height: 400px;
    /*margin: 80px 0 0 0;*/
    position: relative;
    text-align: center;
    /*cursor: pointer;*/
    perspective: 100rem;
    /*display: inline-block;*/
    clear: both;
}

.card {
    /*webkit을 사용해야지 사파리에서도 정상적으로 동작함*/
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-perspective: 0;
    -webkit-transition: 1s;
    backface-visibility: hidden; /*뒷면 숨기기*/
    visibility: visible;
    transition: 1s;
    display: inline-block;
}

.front {
    position: absolute;
    background: white;
    transform: rotateY(0deg);
}

.back {
    background-image: linear-gradient(to top, #FFF56E 0%,
    #F4A460 99%,
    #F4A460 100%);
    transform: rotateY(-180deg);
}

.container:hover .front {
    transform: rotateY(180deg); /*y축을 기준으로 180도까지회전*/
}

.container:hover .back {
    transform: rotateY(0deg); /*y축을 기준으로 0도 까지회전*/
}

/*모달창*/
.btn-open-popup {
    float: right;
    background-color: lightcoral;
    border: 1px gray;
    outline: 1px gray;
    cursor: pointer;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: none;

    background-color: rgba(0, 0, 0, 0.4);
}

.modal.show {
    display: block;
}

.modal_body {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 250px;
    height: 170px;

    padding: 40px;

    text-align: center;

    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

    transform: translateX(-50%) translateY(-50%);
    border-bottom: 10px solid gold;
    border-top: 10px solid gold;
}

.delete_btn {
    background-color: lightcoral;
    outline: 0;
    border: 0;
    width: 50px;
    cursor: pointer

}

/*카드 내용*/
.main_body *,
.main_body *::after,
.main_body *::before {
    margin:0;
    padding: 0;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

.card__title {
    height: 9rem;
    padding: 30px 50px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.card__heading {
    font-size: 1.5rem;
    font-weight: 200;
    text-transform: uppercase;
    left: 20px;
    /*text-align: center;*/
    /*padding-left: 20px;*/
    color: #fff;
    width: 100%;
    height: 100%;
}

/*.card__heading-span {*/
/*    !*padding: 1rem 1.5rem;*!*/
/*    -webkit-box-decoration-break: clone;*/
/*    box-decoration-break: clone;*/
/*}*/

.card__details {
    padding: 0 1.5rem 1.5rem;
}

.card__details ul {
    list-style: none;
    width: 100%;
    margin: 0 auto;
}

.card__details ul li {
    text-align: left;
    font-size: 1.5rem;
    padding: 1rem;
}

.card__details ul li:not(:last-child) {
    border-bottom: 1px solid #eee;
}

/*.card__cta {*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    -webkit-transform: translate(-50%, -50%);*/
/*    transform: translate(-50%, -50%);*/
/*    width: 90%;*/
/*    text-align: center;*/
/*}*/

/*.card__price-box {*/
/*    text-align: center;*/
/*    color: #fff;*/
/*    margin-bottom: 8rem;*/
/*}*/

/*.card__price-only {*/
/*    font-size: 1.4rem;*/
/*    text-transform: uppercase;*/
/*}*/

/*.card__price-value {*/
/*    font-size: 6rem;*/
/*    font-weight: 100;*/
/*}*/

.row {
    display: inline-block;
    margin: 10px 10px 0 10px;

}

.row:not(:last-child) {
    margin-bottom: 5rem;
    margin-top: 5rem;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.row [class^="col-"] {
}

.row [class^="col-"]:not(:last-child) {
    margin-right: 6rem;
}

