:root {
  --surface-color: #fff;
  --curve: 40;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #fef8f8;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));*/
    gap: 1rem;
    margin: 4rem 5vw ;
    padding: 0;
    list-style-type: none;
}

.card {
    position: relative;
    /*display: block;*/
    width: 30%;
    height: 100%;
    /*border-radius: calc(var(--curve) * 1px);*/
    overflow: hidden;
    text-decoration: none;
    margin: 0px 10px 20px 0px;
}

.card__image {
  width: 100%;
  height: auto;
  margin-bottom: 70px;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(var(--curve) * 1px);
  background-color: var(--surface-color);
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  font-size: 30pt;

  margin: 0px 0px 20px 20px;
  /*border-radius: 50%;*/
}

.card__title {
  font-size: 12pt;
  font-weight: bold;
  margin: 0 0 .3em;
  color: #6A515E;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";
  font-size: .8em;
  color: #D7BDCA;
}

.card__status {
  font-size: 10pt;
  color: black;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #D7BDCA;
  font-family: "MockFlowFont";
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

/*모달*/
.modal_overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
/* rgba: rgb+a a는 투명도
   blur: 흐릿효과*/
    z-index: 9999;
}

.modal_window {
    background: white;
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 800px;
    height: 550px;
    position: relative;
    padding: 10px;
    margin-top: 70px;
}

.modal_title{
    display: flex;
    flex-direction: row; /*가로로정렬*/
    justify-content: space-between; /* div 사이 공간 균등하게 */
    font-weight: bold;
    font-size: 40px;
}

.modal_title_side{
    flex: 0 0 40px;
    text-align: center;
}

.modal_body{
    /*background-color: orange;*/
    /*width: 50%;*/
    height: auto;
    float: left;
}

.modal_comment{
    /*background-color: deepskyblue;*/
    /*width: 40%;*/
    height: auto;
    float: left;
    margin-left: 100px;
}



