{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>rating</title>
    <link rel="stylesheet" href="../static/css/rating.css" />


    <!-- 참조할 css, js -->
    {% block link %}
{#        <link rel="stylesheet" href="{% static 'css/rating.css' %}">#}
    {% endblock link %}

    <!-- 페이지별 타이틀 -->
    {% block title %}
    {% endblock title %}

</head>
<body>

    {% block content %}
        {% for beer in beers %}
            <img src="{{ beer.img_url }}"/>
            <h2>{{ beer.name }} [{{ beer.rating }}]</h2>
        {% endfor %}
    {% endblock content %}

</body>
</html>