{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- 참조할 css, js -->
    {% block link %}
        <script src="https://kit.fontawesome.com/267d1d7e88.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'css/rating.css' %}">
        <script defer src="{% static 'js/rating.js' %}"></script>
    {% endblock link %}

    <!-- 페이지별 타이틀 -->
    {% block title %}
        <title>MyLittleBeer</title>
    {% endblock title %}

</head>
<body>
{% block content %}
    <div class="cards">
    {% for beer in beers %}
        <div class="card">
            <img src="{% get_static_prefix %}{{ beer.img_url }}" class="card__image" alt=""/>
            <div class="card__overlay">
                <div class="card__header">
                    <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
                        <path/>
                    </svg>
                    <span class="card__thumb" style="font-weight: bold;">{{ forloop.counter }}</span>
                    <div class="card__header-text">
                        <h3 class="card__title">{{ beer.name }}</h3>
                        <span class="card__status">[{{ beer.rating|floatformat:2 }}]</span>
                    </div>
                </div>
                <button id="modal_btn" class="modal_btn"
                        style="width:55px; height:20px; font-size:10pt; border-radius: 5px; border:none; margin:0px 0px 10px 160px;"
                        onclick="openModal(
                            '{{ beer.img_url }}',
                            '{{ beer.name }}',
                            '{{ beer.style }}',
                            '{{ beer.category }}',
                            '{{ beer.aroma|escapejs }}',
                            '{{ beer.flavor|escapejs }}',
                            '{{ beer.balance|escapejs }}',
                            '{{ beer.season|escapejs }}',
                            '{{ beer.body|escapejs }}',)">detail</button>
            </div>
        </div>
    {% endfor %}
    {#모달#}
        <div id="modal_open" class="modal_overlay">
            <div class="modal_window">
                <div class="modal_title">
                    <div class="modal_title_side"></div>
                    <div style="font-size: 20px">Detailed</div>
                    <div class="modal_title_side">
                        <button id="close_modal" class="fa-solid fa-xmark" name="close_modal" style="border: 0;"></button>
                    </div>
                </div>
                <hr/>
                <br>
                <div class="modal_body" >
                    <img id="beer_img" name="{% get_static_prefix %}" src="" style="width:380px; height:400px;"/>
                </div>
                <div class="modal_comment">
                    <h1 id="beer_name" style="font-weight: bold">Information</h1>
                    <hr>
                    <div class="modal_text" style="font-size: large">
                        style : <span id="beer_style" style="font-size: 11px; font-weight: bold">맥주스타일</span><br>
                        <br>
                        category : <span id="beer_category" style="font-size: 11px; font-weight: bold">맥주카테고리</span><br>
                        <br>
                        aroma : <span id="beer_aroma" style="font-size: 11px; font-weight: bold">맥주향</span><br>
                        <br>
                        flavor : <span id="beer_flavor" style="font-size: 11px; font-weight: bold">맥주맛</span><br>
                        <br>
                        balance : <span id="beer_balance" style="font-size: 11px; font-weight: bold">맥주balance</span><br>
                        <br>
                        season : <span id="beer_season" style="font-size: 11px; font-weight: bold">맥주계절</span><br>
                        <br>
                        body : <span id="beer_body" style="font-size: 11px; font-weight: bold">맥주body</span><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

</body>
</html>