{% extends 'base.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/recommend.css' %}">
    <script defer src="{% static 'js/recommend.js' %}"></script>
{% endblock link %}

{% block title %}
    <title>My Little Beer</title>
{% endblock title %}

{% block content %}
    <div class="recommend_message_box">
        <div class="recommend_title">나만의 맥주 찾기!</div>
        좋아하는 맥주의 특징을 골라 나에게 맞는 맥주를 찾아보세요!
    </div>

    <div class="beer_info">
        <form method="post" action="/recommend/">
            {% csrf_token %}
            <div class="beer_style">
                <div class="feature_title">1. 스타일</div>
                <select class="feature_style" name="style">
                    <option value="Belgian Ale - Dark / Amber">Belgian Ale - Dark / Amber</option>
                    <option value="Dark Lager - Dunkel / Tmavý">Dark Lager - Dunkel / Tmavý</option>
                    <option value="Radler / Shandy">Radler / Shandy</option>
                    <option value="Pilsener - Imperial">Pilsener - Imperial</option>
                    <option value="Flavored - Other">Flavored - Other</option>

                    <option value="Flavored - Fruit">Flavored - Fruit</option>
                    <option value="Zwickelbier / Kellerbier / Landbier">Zwickelbier / Kellerbier / Landbier</option>
                    <option value="Pale Lager - International / Premium">Pale Lager - International / Premium</option>
                    <option value="IPA">IPA</option>
                    <option value="Pilsener - Bohemian / Czech">Pilsener - Bohemian / Czech</option>

                    <option value="Märzen / Oktoberfest Bier">Märzen / Oktoberfest Bier</option>
                    <option value="Stout - Dry / Irish">Stout - Dry / Irish</option>
                    <option value="Pale Ale - American (APA)">Pale Ale - American (APA)</option>
                    <option value="Weissbier - Dunkelweizen">Weissbier - Dunkelweizen</option>
                    <option value="Dark Lager - International / Premium">Dark Lager - International / Premium</option>

                    <option value="Witbier / Belgian White Ale">Witbier / Belgian White Ale</option>
                    <option value="Amber Lager - International / Vienna">Amber Lager - International / Vienna</option>
                    <option value="Pilsener / Pils / Pilsner">Pilsener / Pils / Pilsner</option>
                    <option value="Porter">Porter</option>
                    <option value="Wheat Ale">Wheat Ale</option>

                    <option value="Stout">Stout</option>
                    <option value="Pale Ale - English">Pale Ale - English</option>
                    <option value="Weissbier - Hefeweizen">Weissbier - Hefeweizen</option>
                    <option value="Pale Lager - American">Pale Lager - American</option>
                </select>
            </div>

            <div class="beer_style">
                <div class="feature_title">2. 카테고리</div>
                <select class="feature_style" name="category">
                    <option value="벨기에 맥주">벨기에 맥주</option>
                    <option value="미국-크래프트 맥주">미국-크래프트 맥주</option>
                    <option value="컨티넨털 에일/바이스비어/에일-라거하이브리드">컨티넨털 에일/바이스비어/에일-라거하이브리드</option>
                    <option value="라거">라거</option>
                    <option value="영국-아일랜드 에일">영국-아일랜드 에일</option>
                    <option value="기타">기타</option>
                </select>
            </div>

            <div class="beer_aroma">
                <div class="feature_title">3. 향 <span>다중 선택 가능</span></div>
                <div class="beer_checkbox">
                    <div class="beer_checkbox_row">
                        <div><input type="checkbox" name="aroma" value="풀잎향">풀잎향</div>
                        <div><input type="checkbox" name="aroma" value="약한 스컹스 향">약한 스컹스 향</div>
                        <div><input type="checkbox" name="aroma" value="소나무향">소나무향</div>
                        <div><input type="checkbox" name="aroma" value="쌀 향">쌀 향</div>
                        <div><input type="checkbox" name="aroma" value="스파이시한 향">스파이시한 향</div>
                    </div>
                    <div class="beer_checkbox_row">
                        <div><input type="checkbox" name="aroma" value="약한 빵 향">약한 빵 향</div>
                        <div><input type="checkbox" name="aroma" value="달콤한 향">달콤한 향</div>
                        <div><input type="checkbox" name="aroma" value="맥아 로스팅향">맥아 로스팅향</div>
                        <div><input type="checkbox" name="aroma" value="쿠키향">쿠키향</div>
                        <div><input type="checkbox" name="aroma" value="강한 향">강한 향</div>
                    </div>
                    <div class="beer_checkbox_row">
                        <div><input type="checkbox" name="aroma" value="로스팅 보리향">로스팅 보리향</div>
                        <div><input type="checkbox" name="aroma" value="오렌지">오렌지 향</div>
                        <div><input type="checkbox" name="aroma" value="거친 맥아향">거친 맥아향</div>
                        <div><input type="checkbox" name="aroma" value="희미한 옥수수향">희미한 옥수수향</div>
                        <div><input type="checkbox" name="aroma" value="순한 고수향">순한 고수향</div>
                    </div>
                    <div class="beer_checkbox_row">
                        <div><input type="checkbox" name="aroma" value="밀 향">밀 향</div>
                        <div><input type="checkbox" name="aroma" value="깔끔한 맥아향">깔끔한 맥아향</div>
                        <div><input type="checkbox" name="aroma" value="단맛">단맛</div>
                        <div><input type="checkbox" name="aroma" value="풀향">풀향</div>
                        <div><input type="checkbox" name="aroma" value="민트향">민트향</div>
                    </div>
                    <div class="beer_checkbox_row">
                        <div><input type="checkbox" name="aroma" value="사츠홉향">사츠홉향</div>
                        <div><input type="checkbox" name="aroma" value="캐러멜향">캐러멜향</div>
                        <div><input type="checkbox" name="aroma" value="과일향">과일향</div>
                        <div><input type="checkbox" name="aroma" value="고수">고수</div>
                        <div><input type="checkbox" name="aroma" value="꽃 향기">꽃 향기</div>
                    </div>
                    <div class="beer_checkbox_row">
                        <div><input type="checkbox" name="aroma" value="후추향">후추향</div>
                        <div><input type="checkbox" name="aroma" value="볶은 맥아향">볶은 맥아향</div>
                        <div><input type="checkbox" name="aroma" value="꽃향기">꽃향기</div>
                        <div><input type="checkbox" name="aroma" value="노블 홉향">노블 홉향</div>
                        <div><input type="checkbox" name="aroma" value="빵 향">빵 향</div>
                    </div>
                    <div class="beer_checkbox_row">
                        <div><input type="checkbox" name="aroma" value="창백한 맥아향">창백한 맥아향</div>
                        <div><input type="checkbox" name="aroma" value="약한 캐라멜 멕아향">약한 캐라멜 멕아향</div>
                        <div><input type="checkbox" name="aroma" value="홉향">홉 향</div>
                        <div><input type="checkbox" name="aroma" value="스컹크 향">스컹크 향</div>
                        <div><input type="checkbox" name="aroma" value="맥아향">맥아향</div>
                    </div>
                    <div class="beer_checkbox_row">
                        <div><input type="checkbox" name="aroma" value="달콤한 맥아향">달콤한 맥아향</div>
                        <div><input type="checkbox" name="aroma" value="허브향">허브향</div>
                        <div><input type="checkbox" name="aroma" value="풀잎 향">풀잎 향</div>
                        <div><input type="checkbox" name="aroma" value="약간의 과일향">약간의 과일향</div>
                        <div><input type="checkbox" name="aroma" value="가벼운 스컹스 향">가벼운 스컹스 향</div>
                    </div>
                    <div class="beer_checkbox_row">
                        <div><input type="checkbox" name="aroma" value="라즈베리향">라즈베리향</div>
                        <div><input type="checkbox" name="aroma" value="스파이시한 효모향">스파이시한 효모향</div>
                        <div><input type="checkbox" name="aroma" value="약한 스컹크 향">약한 스컹크 향</div>
                        <div><input type="checkbox" name="aroma" value="매운 향">매운 향</div>
                        <div><input type="checkbox" name="aroma" value="레몬향">레몬향</div>
                    </div>
                    <div class="beer_checkbox_row">
                        <div><input type="checkbox" name="aroma" value="은은한 맥아향">은은한 맥아향</div>
                        <div><input type="checkbox" name="aroma" value="초콜렛 향">초콜렛 향</div>
                        <div><input type="checkbox" name="aroma" value="자몽향">자몽향</div>
                        <div><input type="checkbox" name="aroma" value="고소한 맥아향">고소한 맥아향</div>
                        <div><input type="checkbox" name="aroma" value="가벼운 곡물향">가벼운 곡물향</div>
                    </div>
                    <div class="beer_checkbox_row">
                        <div><input type="checkbox" name="aroma" value="깔끔한 맥아향">깔끔한 맥아향</div>
                        <div><input type="checkbox" name="aroma" value="가벼운 낱알 몰트 향">가벼운 낱알 몰트 향</div>
                        <div><input type="checkbox" name="aroma" value="플로랄 홉향">플로랄 홉향</div>
                        <div><input type="checkbox" name="aroma" value="멕아 로스팅향">멕아 로스팅향</div>
                        <div><input type="checkbox" name="aroma" value="바나나 향">바나나 향</div>
                    </div>
                    <div class="beer_checkbox_row">
                        <div><input type="checkbox" name="aroma" value="옥수수 향">옥수수 향</div>
                        <div><input type="checkbox" name="aroma" value="북미 홉향">북미 홉향</div>
                        <div><input type="checkbox" name="aroma" value="약한 과일향">약한 과일향</div>
                        <div><input type="checkbox" name="aroma" value="가벼운 향">가벼운 향</div>
                        <div><input type="checkbox" name="aroma" value="커피향">커피향</div>
                    </div>
                </div>
            </div>

            <div class="beer_aroma">
                <div class="feature_title">4. 맛 <span>다중 선택 가능</span></div>
                <div class="beer_checkbox">
                    <div class="beer_checkbox_row">
                        <div><input type="checkbox" value="쌉쌀한 끝맛">쌉쌀한 끝맛</div>
                        <div><input type="checkbox" value="드라이한 크림 풍미">드라이한 크림 풍미</div>
                        <div><input type="checkbox" value="강한 쓴맛">강한 쓴맛</div>
                        <div><input type="checkbox" value="부드러움">부드러움</div>
                        <div><input type="checkbox" value="홉 풍미 거의 없음">홉 풍미 거의 없음</div>
                    </div>
                    <div class="beer_checkbox_row">
                        <div><input type="checkbox" name="flavor" value="약간 쌉쌀함">약간 쌉쌀함</div>
                        <div><input type="checkbox" name="flavor" value="약한 쓴맛">약한 쓴맛</div>
                        <div><input type="checkbox" name="flavor" value="탄산수">탄산수</div>
                        <div><input type="checkbox" name="flavor" value="약한 떫은 맛">약한 떫은 맛</div>
                        <div><input type="checkbox" name="flavor" value="역겨움">역겨움</div>
                    </div>
                    <div class="beer_checkbox_row">
                        <div><input type="checkbox" name="flavor" value="밀크세이크 질감">밀크세이크 질감</div>
                        <div><input type="checkbox" name="flavor" value="깔끔한 맥아 풍미">깔끔한 맥아 풍미</div>
                        <div><input type="checkbox" name="flavor" value="시큼한 풍미">시큼한 풍미</div>
                        <div><input type="checkbox" name="flavor" value="건포도">건포도</div>
                        <div><input type="checkbox" name="flavor" value="고도의 탄산">고도의 탄산</div>
                    </div>
                    <div class="beer_checkbox_row">
                        <div><input type="checkbox" name="flavor" value="커피">커피</div>
                        <div><input type="checkbox" name="flavor" value="섬세한 맥아 풍미">섬세한 맥아 풍미</div>
                        <div><input type="checkbox" name="flavor" value="로스팅 보리향">로스팅 보리향</div>
                        <div><input type="checkbox" name="flavor" value="구운 풍미">구운 풍미</div>
                        <div><input type="checkbox" name="flavor" value="사츠 홉의 풍미">사츠 홉의 풍미</div>
                    </div>
                    <div class="beer_checkbox_row">
                        <div><input type="checkbox" name="flavor" value="청량한 끝맛">청량한 끝맛</div>
                        <div><input type="checkbox" name="flavor" value="맥아 풍미">맥아 풍미</div>
                        <div><input type="checkbox" name="flavor" value="청량함">청량함</div>
                        <div><input type="checkbox" name="flavor" value="깔끔한 쓴맛">깔끔한 쓴맛</div>
                        <div><input type="checkbox" name="flavor" value="강렬함">강렬함</div>
                    </div>
                    <div class="beer_checkbox_row">
                        <div><input type="checkbox" name="flavor" value="데킬라맛">데킬라맛</div>
                        <div><input type="checkbox" name="flavor" value="달콤한 쿠기 풍미">달콤한 쿠키 풍미</div>
                        <div><input type="checkbox" name="flavor" value="가벼운 곡물 풍미">가벼운 곡물 풍미</div>
                        <div><input type="checkbox" name="flavor" value="초콜렛">초콜렛</div>
                        <div><input type="checkbox" name="flavor" value="단맛 거의 없음">단맛 거의 없음</div>
                    </div>
                    <div class="beer_checkbox_row">
                        <div><input type="checkbox" name="flavor" value="크리미한 맥아 풍미">크리미한 맥아 풍미</div>
                        <div><input type="checkbox" name="flavor" value="캐러멜">캐러멜</div>
                        <div><input type="checkbox" name="flavor" value="생강 힌트">생강 힌트</div>
                        <div><input type="checkbox" name="flavor" value="가벼운 맥아 풍미">가벼운 맥아 풍미</div>
                        <div><input type="checkbox" name="flavor" value="보조 맥아 힌트">보조 맥아 힌트</div>
                    </div>
                    <div class="beer_checkbox_row">
                        <div><input type="checkbox" name="flavor" value="약한 홉 풍미">약한 홉 풍미</div>
                        <div><input type="checkbox" name="flavor" value="견고한 쓴맛">견고한 쓴맛</div>
                        <div><input type="checkbox" name="flavor" value="상큼함">상큼함</div>
                        <div><input type="checkbox" name="flavor" value="낮은 알코올">낮은 알코올</div>
                        <div><input type="checkbox" name="flavor" value="옥수수 맛">옥수수 맛</div>
                    </div>
                    <div class="beer_checkbox_row">
                        <div><input type="checkbox" name="flavor" value="달콤함">달콤함</div>
                        <div><input type="checkbox" name="flavor" value="약간 크리미">약간 크리미</div>
                        <div><input type="checkbox" name="flavor" value="쌉쌀한 풍미">쌉쌀한 풍미</div>
                        <div><input type="checkbox" name="flavor" value="쓴 맛">쓴 맛</div>
                        <div><input type="checkbox" name="flavor" value="섬세한">섬세한</div>
                    </div>
                    <div class="beer_checkbox_row">
                        <div><input type="checkbox" name="flavor" value="약한 캐러멜">약한 캐러멜</div>
                        <div><input type="checkbox" name="flavor" value="할러타우 홉">할러타우 홉</div>
                        <div><input type="checkbox" name="flavor" value="단 맛">단 맛</div>
                        <div><input type="checkbox" name="flavor" value="상쾌함">상쾌함</div>
                        <div><input type="checkbox" name="flavor" value="쓴 맛">쓴 맛</div>
                    </div>
                    <div class="beer_checkbox_row">
                        <div><input type="checkbox" name="flavor" value="과일 풍미">과일 풍미</div>
                        <div><input type="checkbox" name="flavor" value="견과류 풍미">견과류 풍미</div>
                        <div><input type="checkbox" name="flavor" value="사과맛">사과맛</div>
                        <div><input type="checkbox" name="flavor" value="옥수수 단맛">옥수수 단맛</div>
                        <div><input type="checkbox" name="flavor" value="섬세함">섬세함</div>
                    </div>
                    <div class="beer_checkbox_row">
                        <div><input type="checkbox" name="flavor" value="순함">순함</div>
                        <div><input type="checkbox" name="flavor" value="시큼한 끝맛">시큼한 끝맛</div>
                        <div><input type="checkbox" name="flavor" value="약간의 쓴맛">약간의 쓴맛</div>
                        <div><input type="checkbox" name="flavor" value="신선한 홉 풍미">신선한 홉 풍미</div>
                        <div><input type="checkbox" name="flavor" value="쌀 풍미">쌀 풍미</div>
                    </div>
                    <div class="beer_checkbox_row">
                        <div><input type="checkbox" name="flavor" value="약한 단맛">약한 단맛</div>
                        <div><input type="checkbox" name="flavor" value="로스팅과 구운 풍미">로스팅과 구운 풍미</div>
                        <div><input type="checkbox" name="flavor" value="청량함">청량함</div>
                        <div><input type="checkbox" name="flavor" value="신맛">신맛</div>
                        <div><input type="checkbox" name="flavor" value="가벼움">가벼움</div>
                    </div>
                    <div class="beer_checkbox_row">
                        <div><input type="checkbox" name="flavor" value="스컹크 풍미">스컹크 풍미</div>
                        <div><input type="checkbox" name="flavor" value="홉의 풍미 많지 않음">홉의 풍미 많지 않음</div>
                        <div><input type="checkbox" name="flavor" value="깔끔함">깔끔함</div>
                        <div><input type="checkbox" name="flavor" value="허브 풍미">허브 풍미</div>
                        <div><input type="checkbox" name="flavor" value="약간의 쓴 맛">약간의 쓴 맛</div>
                    </div>
                    <div class="beer_checkbox_row">
                        <div><input type="checkbox" name="flavor" value="약간의 단맛">약간의 단맛</div>
                        <div><input type="checkbox" name="flavor" value="매끄러운 맥아 풍미">매끄러운 맥아 풍미</div>
                        <div><input type="checkbox" name="flavor" value="약한 달콤한 맥아">약한 달콤한 맥아</div>
                        <div><input type="checkbox" name="flavor" value="빵 껍질">빵 껍질</div>
                        <div><input type="checkbox" name="flavor" value="">사과 주스 맛</div>
                    </div>
                </div>
            </div>

            <div class="beer_aroma">
                <div class="feature_title">5. 시즌 <span>다중 선택 가능</span></div>
                <div class="beer_checkbox">
                    <div class="beer_checkbox_row">
                        <div><input type="checkbox" name="season" value="연중 내내">연중 내내</div>
                        <div><input type="checkbox" name="season" value="봄">봄</div>
                        <div><input type="checkbox" name="season" value="여름">여름</div>
                        <div><input type="checkbox" name="season" value="9월">가을</div>
                        <div><input type="checkbox" name="season" value="10월">겨울</div>
                    </div>
                    <div class="beer_checkbox_row">
                        <div><input type="checkbox" name="season" value="따듯한 날씨">따듯한 날씨</div>
                        <div><input type="checkbox" name="season" value="서늘한 계절">서늘한 계절</div>
                    </div>
                </div>
            </div>

            <div class="beer_aroma">
                <div class="feature_title">6. 어울리는 음식 <span>다중 선택 가능</span></div>
                <div class="beer_checkbox">
                    <div class="beer_checkbox_row">
                        <div><input type="checkbox" name="food" value="생선 요리">생선 요리</div>
                        <div><input type="checkbox" name="food" value="해산물">해산물</div>
                        <div><input type="checkbox" name="food" value="샐러드">샐러드</div>
                        <div><input type="checkbox" name="food" value="햄버거">햄버거</div>
                        <div><input type="checkbox" name="food" value="프렌치프라이">프렌치프라이</div>
                    </div>
                    <div class="beer_checkbox_row">
                        <div><input type="checkbox" name="food" value="스테이크">스테이크</div>
                        <div><input type="checkbox" name="food" value="초콜릿">초콜릿</div>
                        <div><input type="checkbox" name="food" value="홍합">홍합</div>
                        <div><input type="checkbox" name="food" value="굴">굴</div>
                        <div><input type="checkbox" name="food" value="연어">연어</div>
                    </div>
                    <div class="beer_checkbox_row">
                        <div><input type="checkbox" name="food" value="크림 리조또">크림 리조또</div>
                        <div><input type="checkbox" name="food" value="소시지">소시지</div>
                        <div><input type="checkbox" name="food" value="오리 구이">오리 구이</div>
                        <div><input type="checkbox" name="food" value="돼지고기 구이">돼지고기 구이</div>
                        <div><input type="checkbox" name="food" value="저크 치킨">저크 치킨</div>
                    </div>
                    <div class="beer_checkbox_row">
                        <div><input type="checkbox" name="food" value="가벼운 음식">가벼운 음식</div>
                        <div><input type="checkbox" name="food" value="든든한 음식">든든한 음식</div>
                        <div><input type="checkbox" name="food" value="무거운 음식">무거운 음식</div>
                        <div><input type="checkbox" name="food" value="알싸한 쓴 음식">알싸한 쓴 음식</div>
                        <div><input type="checkbox" name="food" value="매운 음식">매운 음식</div>
                    </div>
                </div>
            </div>

            <div class="beer_aroma">
                <div class="feature_title">7. 목넘김 <span>다중 선택 가능</span></div>
                <div class="beer_checkbox">
                    <div class="beer_checkbox_row">
                        <div><input type="checkbox" name="body" value="드라이">드라이</div>
                        <div><input type="checkbox" name="body" value="깔끔함">깔끔함</div>
                        <div><input type="checkbox" name="body" value="가벼움">가벼움</div>
                        <div><input type="checkbox" name="body" value="부드러움">부드러움</div>
                        <div><input type="checkbox" name="body" value="걸쭉">걸쭉</div>
                    </div>
                    <div class="beer_checkbox_row">
                        <div><input type="checkbox" name="body" value="가벼운 탄산">가벼운 탄산</div>
                        <div><input type="checkbox" name="body" value="적당한 탄산">적당한 탄산</div>
                        <div><input type="checkbox" name="body" value="풍부한 탄산">풍부한 탄산</div>
                    </div>
                </div>
            </div>

            <div class="beer_submit">
                <button type="submit">제 출</button>
            </div>
        </form>
    </div>
    <div class="beer_btn_box">
        <button>추천 히스토리 보러가기</button>
        <button>맥주 종류 보러가기</button>
    </div>
{% endblock content %}

